<div layout="column" style="background-color: white; height: 100vh">
  <md-toolbar class="md-whiteframe-2dp">
    <div class="md-toolbar-tools">
      <i class="fa fa-database fa-lg" style="margin-right: 10px"></i>
      <h3 class="md-toolbar-item md-headline">Example Credential Repository</h3>
    </div>
  </md-toolbar>

  <div ng-if="$ctrl.loading" class="container" layout-padding>
    <md-progress-linear md-mode="query"></md-progress-linear>
    <div class="bottom-block">
      <span>Loading credential request details...</span>
    </div>
  </div>

  <md-content ng-if="!$ctrl.loading" layout="row">
    <div flex="33"></div>
    <div flex="34" layout="column" layout-padding>
      <div ng-if="$ctrl.profile" layout="column" layout-padding>
        <div>Do you want to store these credentials?</div>
        <div layout="row" layout-align="center" flex>
          <br-credential
            br-credential="$ctrl.credential"
            br-show-actions="false"
            br-options="{
              displayer: {style: {width: '300px'}}
            }">
          </br-credential>
        </div>
        <!-- <pre>{{$ctrl.profile|json}}</pre> -->
        <div layout="row" layout-align="center" flex>
          <md-button class="md-raised md-warn" ng-disabled="$ctrl.loading"
            ng-click="$ctrl.cancel()">
            No
          </md-button>
          <md-button class="md-raised md-primary" ng-disabled="$ctrl.loading"
            ng-click="$ctrl.store()">
            Yes
          </md-button>
        </div>
      </div>
      <div layout="column" layout-padding>
        <p>
          This is a credential repository (aka wallet) demonstration website. It
          has been loaded during a credential storage request from a credential issuer
          website.
          <a href="" ng-click="$ctrl.showDetails=!$ctrl.showDetails">Show technical details</a>
        </p>
        <div ng-if="$ctrl.showDetails">
          <p>This website uses the Credential Handler API polyfill. It calls
          code that looks like this to receive a credential storage request:</p>
          <pre>
            const handler = new CredentialHandler(MEDIATOR_ORIGIN);

            handler.addEventListener('credentialstore', event => {
              event.respondWith(new Promise(async (resolve, reject) => {
                window.addEventListener('message', e => {
                  // wait for message from the window we opened with what was stored
                  resolve(e.data.credential);
                });

                // open a window (with the content you see above)
                const windowClient = await event.openWindow('/credentialstore');
              }));
            });
          </pre>
        </div>
      </div>
    </div>
    <div flex="33"></div>
  </md-content>
</div>
