<div style="background-color: white; border: 1px solid #ddd">
  <h3>Example Credential Wallet</h3>
  <p>
    This is a credential repository (aka wallet) demonstration website. It
    has been loaded during a credential request from a credential verifier
    website.
    <a href="" ng-click="$ctrl.showDetails=!$ctrl.showDetails">Show technical details</a>
  </p>
  <div ng-if="$ctrl.showDetails">
    <p>This website uses the Credential Handler API polyfill. It calls
    code that looks like this to receive a credential request:</p>
    <pre>
      const handler = new CredentialHandler(MEDIATOR_ORIGIN);

      handler.addEventListener('credentialrequest', event => {
        event.respondWith(new Promise(async (resolve, reject) => {
          window.addEventListener('message', e => {
            // wait for message from the window we opened with credential choice
            resolve(e.data.credential);
          });

          // open a window (with the content you see above)
          const windowClient = await event.openWindow('/credentialrequest');
        }));
      });
    </pre>
  </div>
  <div ng-if="$ctrl.credentialRequestOptions">
    <div>Do you want to send these credentials?</div>
    <pre>{{$ctrl.credential|json}}</pre>
    <br>
    <button>No</button>
    <button ng-click="$ctrl.send()"
      style="margin-left: 5px">Yes</button>
  </div>
</div>
