<div>
  <h3>Credential Wallet Example</h3>
  <p>
    This is a credential repository (aka wallet) demonstration website. It
    allows you to register a "credential handler" that can handle credential
    requests and credential storage requests from other websites.
    <a href="" ng-click="$ctrl.showDetails=!$ctrl.showDetails">Show technical details</a>
  </p>
  <div ng-if="$ctrl.showDetails">
    <p>This website uses the Credential Handler API polyfill. It calls
    code that looks like this add choices for users to select to fulfill
    requests for credentials:</p>
    <pre>
      async function install() {
        const result = await CredentialManager.requestPermission();
        if(result !== 'granted') {
          throw new Error('Permission denied.');
          return;
        }

        // get payment handler registration
        const registration = await CredentialHandlers.register('/credential-handler');

        await addHints(registration);
      }

      async function addHints(registration) {
        return Promise.all([
          registration.credentialManager.hints.set(
            // this could be a UUID -- any 'key' understood by this wallet
            'default',
            {
              name: 'My Identity',
              enabledTypes: ['verifiableProfile'],
              capabilities: {
                verifiableProfileId: 'did:method1:1234-1234-1234-1234'
              }
            })
          ]);
      }
    </pre>
  </div>
  <div>
    <a href="" ng-click="$ctrl.install()">Install Credential Wallet</a>
  </div>
  <div>
    <a href="" ng-click="$ctrl.uninstall()">Uninstall Credential Wallet</a>
  </div>
  <br>
  <div ng-if="$ctrl.installed">
    Wallet successfully installed!
  </div>
  <div ng-if="$ctrl.uninstalled">
    Wallet uninstalled.
  </div>
</div>
