<div layout="column">

  <md-toolbar class="md-whiteframe-2dp">
    <div class="md-toolbar-tools">
      <i class="fa fa-database fa-lg" style="margin-right: 10px"></i>
      <h3 class="md-toolbar-item md-headline">Example Credential Repository</h3>
    </div>
  </md-toolbar>

  <md-content layout="row">
    <div flex="33"></div>
    <div flex="34" layout="column" layout-padding>
      <div layout="row" layout-align="space-between">
        <h4>Credential Handler</h4>
        <div>
          <md-button class="md-raised md-primary"
            ng-disabled="$ctrl.installed"
            ng-click="$ctrl.install()">Install</md-button>
          <md-button class="md-raised md-warn"
            ng-disabled="!$ctrl.installed"
            ng-click="$ctrl.uninstall()">Uninstall</md-button>
        </div>
      </div>
      <div ng-if="$ctrl.installed" layout="row">
        <div style="border: 1px solid lightgray; padding: 20px">
          <i class="fa fa-check fa-lg" style="color: green; vertical-align: 0; margin-right: 5px"></i>
          <span style="font-size: 20px">Credential handler installed! Three
          demo identities have been added. Please
          visit the <a href="https://credential-issuer.demo.digitalbazaar.com">Example Credential Issuer</a>
          to receive a demo credential.</span>
        </div>
      </div>

      <!-- TODO: implement adding random DID-based identity with name field
      <div layout="row" layout-align="space-between">
        <h4>Identities</h4>
        <div>
          <md-button class="md-raised md-primary"
            ng-disabled="!$ctrl.installed"
            ng-click="$ctrl.addIdentity()">Add</md-button>
          <md-button class="md-raised md-warn"
            ng-disabled="!$ctrl.installed"
            ng-click="$ctrl.clearIdentities()">Clear</md-button>
        </div>
      </div>
      -->

      <div layout="column" layout-padding>
        <p>
          This is a credential repository (aka wallet) demonstration website. It
          allows you to register a "credential handler" that can handle credential
          requests and credential storage requests from other websites.
          <a href="" ng-click="$ctrl.showDetails=!$ctrl.showDetails">Show technical details</a>
        </p>
        <div ng-if="$ctrl.showDetails">
          <p>This website uses the Credential Handler API polyfill. It calls
          code that looks like this to add choices for users to select to fulfill
          requests for credentials:</p>
          <pre>
            async function install() {
              const result = await CredentialManager.requestPermission();
              if(result !== 'granted') {
                throw new Error('Permission denied.');
                return;
              }

              // get credential handler registration
              const registration = await CredentialHandlers.register('/credential-handler');

              await addHints(registration);
            }

            async function addHints(registration) {
              return Promise.all([
                registration.credentialManager.hints.set(
                  // this could be a UUID -- any 'key' understood by this wallet
                  'default',
                  {
                    name: 'One of my many identities',
                    enabledTypes: ['VerifiableProfile'],
                    match: {
                      VerifiableProfile: {
                        id: 'did:method1:1234-1234-1234-1234'
                      }
                    }
                  })
                ]);
            }
          </pre>
        </div>
      </div>
    </div>
    <div flex="33"></div>
  </md-content>
</div>
