<div layout="column">

  <md-toolbar class="md-whiteframe-2dp md-warn md-hue-3">
    <div class="md-toolbar-tools">
      <i class="fa fa-bank fa-lg" style="margin-right: 10px"></i>
      <h3 class="md-toolbar-item md-headline">Example Credential Issuer</h3>
    </div>
  </md-toolbar>

  <md-content layout="row">
    <div flex="33"></div>
    <div flex="34" layout="column" layout-padding>
      <div ng-if="!$ctrl.done && !$ctrl.userDid" layout="row" layout-padding>
        <md-button class="md-raised md-primary" ng-disabled="$ctrl.loading"
          ng-click="$ctrl.login()" flex>
          Login
        </md-button>
      </div>
      <div ng-if="!$ctrl.done && $ctrl.userDid" layout="row" layout-padding>
        <div>Your DID:</div>
        <span flex></span>
        <div>{{$ctrl.userDid}}</div>
      </div>
      <div ng-if="!$ctrl.done && $ctrl.userDid" layout="row" layout-padding>
        <div>Please click store to store a passport credential.</div>
      </div>
      <div ng-if="!$ctrl.done && $ctrl.userDid" layout="row" layout-padding>
        <md-button class="md-raised md-primary" ng-disabled="$ctrl.loading"
          ng-click="$ctrl.store()" flex>
          Store Passport
        </md-button>
      </div>
      <div ng-if="$ctrl.done && $ctrl.credential" layout-padding>
        <div style="border: 1px solid lightgray; padding: 20px">
          <i class="fa fa-check fa-lg" style="color: green; vertical-align: 0; margin-right: 5px"></i>
          <span style="font-size: 20px">Credential stored!</span>
        </div>
        <div style="margin-top: 10px">
          Click <a href="" ng-click="$ctrl.showCredential=!$ctrl.showCredential">here</a>
          to see the stored credential in JSON format. <span ng-if="$ctrl.done">Click <a href="" ng-click="$ctrl.done=false">here</a> to start again.</span>
        </div>
        <pre ng-if="$ctrl.showCredential">{{$ctrl.credential | json}}</pre>
      </div>
      <div layout="column" layout-padding>
        <p>
          This is a credential issuer demonstration website.
          <a href="" ng-click="$ctrl.showDetails=!$ctrl.showDetails">Show technical details</a>
        </p>
        <div ng-if="$ctrl.showDetails">
          <p>This website uses the Credential Handler API polyfill. It calls
          code that looks like this when the &quotStore&quot button is pressed:</p>
          <pre>
            async function store() {
              try {
                const credential = new WebCredential('VerifiableProfile', {
                  '@context': 'https://w3id.org/credentials/v1',
                  id: 'did:method1:1234-1234-1234-1234',
                  credential: [{
                    '@graph': {
                      id: 'urn:uuid:3243-2344-2342-2334',
                      issuer: 'did:method1:2344-6765-5645-2385',
                      claim: {
                        id: 'did:method1:1234-1234-1234-1234',
                        name: 'Pat Doe'
                      },
                      signature: {
                        type: 'RsaSignature2017',
                        created: '2017-08-09T01:02:03Z',
                        creator: 'did:method1:2344-6765-5645-2385/keys/1',
                        signatureValue: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz01234567890ABCDEFGHIJKLM=='
                      }
                    }
                  }]
                });
                const result = await navigator.credentials.store(credential);
                if(result) {
                  console.log('Credential stored!', result);
                }
              } catch(e) {
                console.error(e);
              }
            }
          </pre>
        </div>
      </div>
    </div>
    <div flex="33"></div>
  </md-content>
</div>
