<div>
  <h3>Credential Verifier Example</h3>
  <p>
    This is a credential verifier (relying party) demonstration website.
    <a href="" ng-click="$ctrl.showDetails=!$ctrl.showDetails">Show technical details</a>
  </p>
  <div ng-if="$ctrl.showDetails">
    <p>This website uses the Credential Handler API polyfill. It calls
    code that looks like this to request credentials proving certain
    attributes:</p>
    <pre>
      async function login() {
        try {
          const credential = await navigator.credentials.get({
            web: {
              verifiableProfile: {
                name: true
              }
            }
          });
          console.log('credential received', credential);
        } catch(e) {
          console.error(e);
        }
      };
    </pre>
  </div>
  <div>
    Please provide a passport credential to proceed.
  </div>
  <div>
    <a href="" ng-click="$ctrl.request()">Provide Passport</a>
  </div>
  <br>
  <div ng-if="$ctrl.credential">
    <div>Credential received. Here's what was received:</div>
    <div>Note: As development continues, this information will become more
    complete, including credential signatures, etc.</div>
    <pre>{{$ctrl.credential | json}}</pre>
  </div>
</div>
